<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/factorization/uploader" method="post" enctype = "multipart/form-data">
        <p>Upload a .csv file for data points: <input type = "file" name = "data"/></p>
        <p>Upload a file with the labels for the data points: <input type = "file" name="labels"/></p>
        <p>Factors: <input type="text" name="factors"/></p>
        <button type="submit" name ='submit'>Submit</button>
    </form>
</body>
</html>